* {
    margin: 0;
    padding: 0;
}

$color-dark: rgba(0, 40, 100, 0.38);
$color-light-dark: #0066ff;
$color-hover-header: #39acff;
$color-hover-btn: rgba(0, 102, 255, 0.15);
$color-hover-btn-text: #39acff;
@mixin center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin border-color-btn {
    color: #ffffff;
    border: 1px solid;
    border-radius: 120px;
}

html {
    background-color: #1e1e1e;
}

body {
    @include center-content;
    margin: 0 auto;
    max-width: 1440px;
    @media (max-width: 1200px) {
        width: 1200px;
    }
    @media (max-width: 1024px) {
        width: 1024px;
    }
    @media (max-width: 768px) {
        width: 768px;
    }
}

header{
    width: 100%;
}

.nav {
    @include center-content;
    width: 100%;
    height: 85px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: $color-dark;
    @media (max-width: 1200px) {
        width: 1200px;
    }
    @media (max-width: 1024px) {
        width: 1024px;
    }
    @media (max-width: 768px) {
        width: 768px;
    }
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    border: none;
    outline: none;
}

.nav__list {
    display: flex;
    align-items: center;
    margin-left: 60px;
    margin-right: 60px;
}

.button__img {
    width: 98px;
    height: 98px;
    display: flex;
}



.button__text {
    display: flex;
    align-items: center;
    @include border-color-btn;
    height: 98px;
}
#button__text {
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    border: none;
    height: 98px;
    font-family: "Suez One";
    font-style: bold;
    font-weight: 900;
    font-size: 24px;
}

.nav__toggle-button-github {
    max-width: 260px;
    height: 98px;
    margin-left: 80px;
    border-radius: 60px;
    background-color: rgba(0, 40, 100, 0.18);
    cursor: pointer;
    @media (max-width: 768px) {
        display: none;
    }
}
.nav__toggle-button-github:hover .button__text {
    color: $color-hover-btn-text;
}
.nav__toggle-button-github:hover .button__img path {
    fill: $color-hover-btn-text;
}

#button__bonus__text{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 198px;
    max-width:148px;
    height: 98px;
}
.nav__toggle-button-bonus {
    max-width: 198px;
    height: 98px;
    margin-right: 80px;
    font-family: "Sulphur Point";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #ffffff;
    @include border-color-btn;
    background-color: rgba(0, 40, 100, 0.18);
    cursor: pointer;
    @media (max-width: 768px) {
        display: none;
    }
    &:hover {
        background-color: $color-hover-btn;
        border-color: #39acff;
    }
 }
.nav__toggle-button-bonus:hover #button__bonus__text {
    color: $color-hover-btn-text;
}

.nav__item {
    width: 150px;
    text-align: center;
    @media (max-width: 1024px) {
        width: 100px;
    }
    @media (max-width: 768px) {
        display: none;
    }
}

.nav__link {
    font-family: "Sulphur Point";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #ffffff;
    &:hover {
        color: $color-hover-header;
    }
}
