* {
    margin: 0;
    padding: 0;
}

$color-dark: rgba(0, 40, 100, 0.38);
$color-light-dark: #0066ff;
$color-hover-header: #39acff;
$color-hover-btn: rgba(0, 102, 255, 0.15);
$color-hover-btn-text: #39acff;
@mixin center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin center-align {
    display: flex;
    align-items: center;
}
@mixin border-color-btn {
    color: #ffffff;
    border: 1px solid;
    border-radius: 120px;
}

html {
    background-color: #1e1e1e;
}

body {
    display: block;
    margin: 0 auto;
    max-width: 1440px;
    @media (max-width: 1200px) {
        width: 1200px;
    }
    @media (max-width: 1024px) {
        width: 1024px;
    }
    @media (max-width: 768px) {
        width: 768px;
    }
}

header{
    width: 100%;
}

/*navigation*/
.nav__menu{
    @include center-content;
    width: 100%;
    max-height: 165px;
    @media (max-width: 1200px) {
        width: 1200px;
    }
    @media (max-width: 1024px) {
        width: 1024px;
    }
    @media (max-width: 768px) {
        flex-direction: column;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 50;
        overflow-y: auto;
        max-height: 100%;
        background-color: #1e1e1e;
        width: 0%;
        transition-duration: .4s;
        transition-property: width, right;
        
    }
}

.nav {
    @include center-content;
    width: 100%;
    padding-top: 33.5px;
    padding-bottom: 33.5px;
    background-color: rgba(0, 40, 100, 0.48);
    @media (max-width: 1200px) {
        width: 1200px;
    }
    @media (max-width: 1024px) {
        width: 1024px;
    }
    @media (max-width: 768px) {
        justify-content: flex-end;
        width: 768px;
        max-height: 0px;
    }
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    border: none;
    outline: none;
}

.nav__list {
    @include center-align;
    margin-left: 60px;
    margin-right: 60px;
    @media (max-width: 1200px) {
        margin-left: 30px;
        margin-right: 30px;
    }
    @media (max-width: 768px) {
        flex-direction: column;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 80px;
        margin-bottom: 40px;
    }
    @media (max-width: 650px) {
        margin-top: 120px;
        margin-bottom: 60px;
    }
    @media (max-width: 550px) {
        margin-top: 120px;
        margin-bottom: 40px;
    }
    @media (max-width: 475px) {
        margin-top: 160px;
        margin-bottom: 80px;
    }
}

.button__img {
    width: 98px;
    height: 98px;
    display: flex;
}


.button__text {
    @include center-align;
    @include border-color-btn;
    height: 98px;
}
#button__text {
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    border: none;
    height: 98px;
    font-family: "Suez One";
    font-style: bold;
    font-weight: 900;
    font-size: 24px;
}

.nav__toggle-button-github {
    max-width: 260px;
    height: 98px;
    margin-left: 80px;
    background-color: rgba(0, 40, 100, 0.18);
    cursor: pointer;
    @media (max-width: 768px) {
        display: flex;
        margin-left: 0px;
    }
}
.nav__toggle-button-github:hover .button__text {
    transition: all 0.5s linear;
    color: $color-hover-btn-text;
}
.nav__toggle-button-github:hover .button__img path {
    transition: all 0.5s linear;
    fill: $color-hover-btn-text;
}

#button__bonus__text{
    @include center-content;
    width: 198px;
    max-width:148px;
    height: 98px;
}
.nav__toggle-button-bonus {
    max-width: 198px;
    height: 98px;
    margin-right: 80px;
    font-family: "Sulphur Point";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #ffffff;
    @include border-color-btn;
    background-color: rgba(0, 40, 100, 0.18);
    cursor: pointer;
    @media (max-width: 768px) {
        display: flex;
        margin-right: 0px;
    }
    &:hover {
        transition: all 0.5s linear;
        background-color: $color-hover-btn;
        border-color: #39acff;
    }
 }
.nav__toggle-button-bonus:hover #button__bonus__text {
    transition: all 0.5s linear;
    color: $color-hover-btn-text;
}

.nav__item {
    width: 150px;
    text-align: center;
    @media (max-width: 1024px) {
        width: 100px;
    }
    @media (max-width: 768px) {
        margin-bottom: 40px;
    }
    @media (max-width: 650px) {
        margin-bottom: 80px;
    }
    @media (max-width: 550px) {
        margin-bottom: 120px;
    }
    @media (max-width: 475px) {
        margin-bottom: 140px;
    }
}

.nav__link {
    font-family: "Sulphur Point";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #ffffff;
    position: relative;
    z-index: 50;
    &:hover {
        color: $color-hover-header;
        transition: all 0.5s linear;
    }
    &::after{
        position: absolute;
        content: '';
        bottom: 0;
        display: block;
        width: 0;
        height: 2px;
        background: $color-hover-header;
        transition: .5s;
        left: 50%;
        transform: translate(-50%);
    }
    &:hover::after{
        width: 100%;
    }
}
//burger
.burger__icon{
    @media (min-width: 769px) {
        display: none;
    }
    @include center-align;
    justify-content: flex-end;
    position: relative;
    z-index: 50;
    width: 30px;
    height: 18px;
    margin-right: 40px;
}

.burger__icon span{
    height: 2px;
    width: 100%;
    transform: scale(1);
    background-color: #ffffff;
    
}

.burger__icon{
    &::before{
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        background-color: #ffffff;
        transition: all 0.6s ease 0s;
        top: 0;
    }
    &::after{
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        background-color: #ffffff;
        transition: all 0.6s ease 0s;
        bottom: 0;
    }
}

.burger__icon.active span {
    transform: scale(0);
}

.burger__icon.active{
    &::before{
        top: 50%;
        transform: rotate(-45deg) translate(0, -50%);
    }
    &::after{
        bottom: 50%;
        transform: rotate(45deg) translate(0, 50%);
    }
}

.open{
    width: 100%;
    transition-duration: .8s;
    transition-property: width;
}

//main
main{
    display: block;
}

section{
    @include center-content;
    background-color: $color-dark;
}

.container{
    display: flex;
    border: 1px solid #ffffff;
    width: 1280px;
    max-width: 1280px;
    margin-top: 38px;
    margin-bottom: 78px;
    border-radius: 120px;
    @media (max-width: 1200px) {
        max-width: 864px;
    }
    @media (max-width: 768px) {
        width: 688px;
    }
}


.description{
    margin-top: 80px;
    margin-left: 132px;
    margin-right: 43px;
    @media (max-width: 1200px) {
        max-width: 305px;
        margin-left: 132px;
        margin-right: 0px;
    }
    @media (max-width: 769px) {
        max-width: 205px;
        margin-left: 65px;
        margin-right: 0px;
    }
    
}

h1 {
    margin: 0;
    padding: 0;
    text-align: justify;
}

p {
    text-align: justify;
}

#desription__header{
    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 100px;
    color: #FFFFFF;
    @media (max-width: 1200px) {
        text-align: left;
        font-size: 42px;
        line-height: 56px;
    }
}

#my-name{
    font-weight: 800;
}

#front{
    font-weight: 800;
    color: $color-hover-btn-text;
    @media (max-width: 1200px) {
        text-align: left;
        line-height: 56px;
        display: block;
        margin-top: 30px;
    }
}

.description__text{
    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 32px;
    color: #FFFFFF;
    margin-top: 120px;
    @media (max-width: 1200px) {
        text-align: left;
        font-size: 26px;
        line-height: 32px;
        display: block;
        margin-top: 30px;
    }
}


#description__photo{
    mix-blend-mode: lighten;
    transform: matrix(0.95, 0, 0, 0.95, 0, 0);
    @media (max-width: 768px) {
        max-width: 440px;
    }
}